<%- partial('_partial/head') %>
<body>
  <div id="container">
    <div class="left-col">
        <%- fragment_cache('left-col', function(){
            return partial('_partial/left-col');
        }) %>
    </div>
    <div class="mid-col">
        <%- fragment_cache('mobile-nav', function(){
            return partial('_partial/mobile-nav');
        }) %>
        <div class="body-wrap"><%- body %></div>
        <%- fragment_cache('footer', function(){
            return partial('_partial/footer');
        }) %>
    </div>
    <%- partial('_partial/after-footer') %>
    <%- partial('_partial/lean-analytics') %>
  </div>
</body>
</html>