<section class="gitment" id="comments">
    <%- partial('click2show') %>
    <div id="gitment-ctn"></div> 
    <link rel="stylesheet" href="//imsun.github.io/gitment/style/default.css">
    <script src="//imsun.github.io/gitment/dist/gitment.browser.js"></script>
    <script>
        var loadComment = function(){
            var gitment = new Gitment({
                id: window.location.pathname,
                owner: '<%=theme.gitment.github_id%>',
                repo: '<%=theme.gitment.repo%>',
                oauth: {
                    client_id: '<%=theme.gitment.client_id%>',
                    client_secret: '<%=theme.gitment.client_secret%>',
                },
            })
            gitment.render('gitment-ctn');
        }
        
    </script>
</section>